/* CSS for buttons */
.bmls_primary_btn {
  font-family: 'Acronym-Regular' !important;
  color: #ffffff !important;
  background: #D46A48 !important;
  border-radius: 4px !important;
  border-color: transparent !important;
  padding: 10px 20px !important;
  line-height: 32px !important;
  font-size: 18px !important;
  text-transform: none !important;
}

.bmls_primary_btn:hover {
  background: #682C18 !important;
}

.bmls_primary_btn:active {
  background: #FDF0EC !important;
  color: #D46A48 !important;
}

.bmls_primary_btn:focus {
  color: #ffffff !important;
}

.bmls_primary_btn:disabled {
  background: #BBBBC4 !important;
  color: #FFFFFF !important;
}

.bmls_outlined_btn {
  color: #D46A48 !important;
  background: #ffffff !important;
  border: 1px solid #D46A48 !important;
  font-family: 'Acronym-Regular' !important;
  border-radius: 4px !important;
  padding: 10px 20px !important;
  line-height: 32px !important;
  font-size: 18px !important;
  text-transform: none !important;
}

/* CSS for label and form input */
.bmls_label {
  font-family: 'Acronym-Regular';
  color: #1A1A1E;
  display: block;
  font-size: 14px;
  vertical-align: top;
  line-height: 24px;
}

.bmls_input {
  font-family: 'Acronym-Regular';
  width: 240px;
  height: 48px;
  border: 1px solid #616673;
  background-color: #FFFFFF;
  font-size: 18px;
  color: #616673;
  line-height: 32px;
  border-radius: none;
  text-indent: 1rem;
}

.bmls_input[icon="true"] {
  background: url('./icons/searchIcon.svg') no-repeat right;
  background-size: 24px;
  color: #616673;
  background-position-x: 210px;
}

/* CSS for modal dialog */
.bmls_dialog_title {
  color: #1A1A1E;
  font-size: 14px !important;
  line-height: 24px !important;
  font-weight: 600 !important;
  background: #F5F5F5;
}

.bmls_dialog_content {
  padding: 20px 40px !important;

  .bmls_input {
    width: 504px;
    height: 32px;
    margin-bottom: 1.25rem;
  }
}

.bmls_dialog_actions {
  display: flex !important;
  justify-content: center !important;

  button:not(:first-of-type) {
    margin-left: 1rem;
  }
}